.newscotent{
    padding: 10px 25px;
}

.inputtext p {
    color: #0a6aa1;

}

.inputtext p input{
    width: 155px;
    height: 20px;
}

.submit_button{
    width: 60px;
    margin: 10px 20px;
}
